<!--
*************************************
* Created by IntelliJ IDEA          *
* User: Nhat                     *
* Email: nhatnpa2508@gmail.com      *
* Date: 7/20/2019                     *
* Time: 9:30 AM                     *
*************************************
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
</head>
<body>
<h1>Edit post</h1>
<p><a href="/posts">Back to post list</a></p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/post-edit}" th:object="${post}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="text" th:field="*{content}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="text" th:field="*{author}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update Post"></td>
        </tr>
    </table>
</form>
</body>
</html>