<!--
*************************************
* Created by IntelliJ IDEA          *
* User: Nhat                     *
* Email: nhatnpa2508@gmail.com      *
* Date: 8/13/2019                     *
* Time: 3:58 PM                     *
*************************************
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
ERROR404
<a href="/students">Back to Student list</a>
<a href="/books">Back to Book list</a>
</body>
</html>