<!--
*************************************
* Created by IntelliJ IDEA          *
* User: Nhat                     *
* Email: nhatnpa2508@gmail.com      *
* Date: 8/13/2019                     *
* Time: 3:37 PM                     *
*************************************
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet prefetch" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
    <title>Thêm mới nhân viên</title>

    <style>
        tr {
            line-height: 30px;
        }
        label{
            margin-left: 20px;
        }

        #datepicker {
            width: 180px;
        }

        #datepicker > span:hover {
            cursor: pointer;
        }
        input{
            width: 400px;
        }
        th{
            width: 200px;
        }
    </style>

</head>
<body style="margin: 50px">

<p><a href="/students" class="btn btn-info btn-lg">Trở lại trang quản lý</a></p>
<h1>Thêm mới Học sinh</h1>
<th:block th:if="${message}" >
    <p th:text="${message}" style="color: red"></p>
</th:block>
<form th:action="@{/student-create}" th:object="${student}" method="post">
    <table class="table table-striped" style="font-size: larger; width: auto">
        <tr hidden>
            <th>ID</th>
            <td><a th:text="*{id}" th:field="*{id}"></a></td>
            <td><input type="text" th:field="*{id}"/></td>
        </tr>
        <tr>
            <th>Mã Học Sinh</th>
            <td><a th:field="*{studentCode}" th:text="*{studentCode}"></a></td>
            <td hidden><input type="text" th:field="*{studentCode}"/></td>
        </tr>
        <tr>
            <th>Họ và tên</th>
            <td><input type="text" th:field="*{fullName}" minlength="5" maxlength="40" required/></td>
            <td th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name Error</td>
        </tr>
        <tr>
            <th>Số điện thoại</th>
            <td><input type="text" th:field="*{phoneNumber}" pattern="[0][0-9]{9}" maxlength="10" minlength="10" required/></td>
            <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Name Error</td>
        </tr>
        <tr>
            <th>Lớp</th>
            <td><input type="text" th:field="*{classMate}" minlength="5" maxlength="5" required/></td>
            <td th:if="${#fields.hasErrors('classMate')}" th:errors="*{classMate}">Name Error</td>
        </tr>
        <tr>
            <th>Ngày mượn</th>
            <td><a th:field="*{dateOrderBook}" th:text="*{dateOrderBook.toLocaleString().substring(0,12)}" style="width: 200px;"></a></td>
<!--            <td th:if="${#fields.hasErrors('dateOrderBook')}" th:errors="*{dateOrderBook}">Name Error</td>-->
        </tr>
        <tr>
            <th>Sách</th>
            <td>
                <select th:field="*{book}" required style="width: 200px; height: 29px">
                    <option th:each="p : ${books}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
            <td th:if="${#fields.hasErrors('book')}" th:errors="*{book}">Name Error</td>
        </tr>
        <tr>
            <th>Email</th>
            <td><input type="email" th:field="*{email}" required/></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</td>
        </tr>
        <tr>
            <th>Địa chỉ</th>
            <td><input type="text" th:field="*{address}"minlength="4" maxlength="100" required/></td>
            <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Name Error</td>
        </tr>
        <tr>
            <th></th>
            <td><input type="submit" value="Chỉnh sửa người mượn" class="btn btn-info btn-lg"/></td>
        </tr>
    </table>
</form>
<script src="js/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#datepicker").datepicker({
            autoclose: true,
            todayHighlight: true
        }).datepicker('update', new Date());
    });
</script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
</body>
</html>