<!--
*************************************
* Created by IntelliJ IDEA          *
* User: Nhat                     *
* Email: nhatnpa2508@gmail.com      *
* Date: 8/13/2019                     *
* Time: 3:37 PM                     *
*************************************
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Student List</title>
    <style>
        tr {
            line-height: 30px;
        }
    </style>
</head>
<body style="margin: 50px">

<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a href="/student-create" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-plus"></span>Thêm mới
        </a>
    </div>
    <form>
        <ul class="nav navbar-nav navbar-right">
            <input name="string" type="text" placeholder="Nhập nội dung tìm kiếm" style="height: 45px;width: 500px;"/>
            <input type="submit" value="Tìm kiếm" class="btn btn-info btn-lg" style="margin-right: 30px;"/>
        </ul>
    </form>
</nav>

<h1>Danh sách học sinh</h1>
<br/>
<table class="table table-striped" style="font-size: larger;">
    <tr>
        <th>Mã học sinh</th>
        <th>Họ và tên</th>
        <th>Số điện thoại</th>
        <th>Lớp</th>
        <th>Email</th>
        <th>Địa chỉ</th>
        <th>Ngày mượn</th>
        <th>Tên Sách</th>
        <th>Mã Sách</th>
    </tr>
    <th:block th:each="student: ${students}">
        <tr>
            <td th:text="${student.studentCode}"></td>
            <td><a th:text="${student.fullName}" th:href="@{/student-view/__${student.id}__}"></a></td>
            <td th:text="${student.phoneNumber}"></td>
            <td th:text="${student.classMate}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.address}"></td>
            <td th:text="${student.dateOrderBook.toLocaleString().substring(0,12)}"></td>
            <td th:text="${student.book.bookCode}"></td>
            <td th:text="${student.book.name}"></td>
            <td><a th:href="@{/student-edit/__${student.id}__}" class="btn btn-info btn-lg" style="padding: 5px 8px">
                <span class="glyphicon glyphicon-pencil"></span></a>
                <a> | </a>
                <a th:href="@{/student-delete/__${student.id}__}" onclick="return confirm('Are you sure?')"
                   class="btn btn-info btn-lg" style="padding: 5px 8px">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
    </th:block>
</table>
<div style="font-size: larger; text-align: right">
    <a th:href="@{'/students'(page=${students.number - 1})}" th:if="${students.hasPrevious()}" type="button">Trang
        sau</a>
    <span th:text="${students.number + 1}"></span>/<span th:text="${students.totalPages}"></span>
    <a th:href="@{'/students'(page=${students.number + 1})}" th:if="${students.hasNext()}" type="button">Trang kế</a>
</div>
<div>
    <a href="/books" class="btn btn-info btn-lg">Về trang Quản lý sách</a><br>
</div>
</body>
</html>