<!--
*************************************
* Created by IntelliJ IDEA          *
* User: Nhat                     *
* Email: nhatnpa2508@gmail.com      *
* Date: 8/9/2019                     *
* Time: 3:14 PM                     *
*************************************
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category List</title>
</head>
<body>
<a href="/category-create">Create new category</a>
<h1>Category List</h1>
<table border="1">
    <tr>
        <th>Name: </th>
        <th>Edit | Delete</th>
        <th>View</th>
    </tr>
    <th:block th:each="category: ${categories}">
        <tr>
            <td th:text="${category.name}"></td>
            <td><a th:href="@{/category-edit/__${category.id}__}">Edit</a><a> | </a>
                <a th:href="@{/category-delete/__${category.id}__}">Delete</a></td>
            <td><a th:href="@{/category-view/__${category.id}__}">View</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>