<!--
*************************************
* Created by IntelliJ IDEA          *
* User: Nhat                     *
* Email: nhatnpa2508@gmail.com      *
* Date: 7/20/2019                     *
* Time: 9:31 AM                     *
*************************************
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Type view</title>
</head>
<body>
<a href="/types">Back to Type list</a>
<h1>View Type: <span th:text="${type.name}"></span></h1>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Content</th>
    </tr>
    <th:block th:each="note : ${notes}">
        <tr>
            <td th:text="${note.title}"></td>
            <td th:text="${note.content}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>