<!--
*************************************
* Created by IntelliJ IDEA          *
* User: Nhat                     *
* Email: nhatnpa2508@gmail.com      *
* Date: 8/9/2019                     *
* Time: 3:32 PM                     *
*************************************
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lỗi không tìm thấy liên lạc</title>
</head>
<body style="margin: 50px">
ERROR404
<p><a href="/" class="btn btn-info btn-lg">Trở lại trang quản lý liên lạc</a></p>
</body>
</html>